// main: ../style.less

.about {
    padding: 6.66rem 0 7.66rem;
}

.about__inner {
    display: flex;
}

.about__photo {
    margin-right: 4.5rem;
    display: block;
    max-width: 100%;
    height: auto;
}

.about__content {
    width: 100%;
    max-width: 565px;
}

.about__title {
    margin-bottom: 2.33rem;

    font-size: 3rem;
    font-weight: 500;
    color: @black;
}

.about__avatar {
    margin-right: 2.2rem;

    width: 134px;
    height: 134px;

    border-radius: 50%;
    background: @gradient;
}

.about__name {
    font-size: 2.2rem;
    font-weight: 500;
    color: @black;
}

.about__country {
    font-size: 1.66rem;
    font-weight: 400;
    color: fade(@black, 50%);
}

.about__text {
    margin: 4rem 0 2rem;

    width: 100%;
    max-width: 491px;

    font-size: 1.46rem;
    font-weight: 500;
    color: fade(@black, 50%);
}

.about__star {
    margin-right: 0.53rem;
}