// main: ../style.less

.btn {
    padding: 1.73rem 3.13rem;

    font-size: 1.66rem;
    line-height: 1.5;
    font-weight: 600;
    font-family: inherit;

    color: @white;
    background: @gradient;
    border: 0;
    border-radius: 1.8rem;

    &--thin {
        margin-bottom: .46rem;
        padding: .73rem 2rem;

        border-radius: 1rem;
        background: fade(@white, 25%);

        font-size: 1.2rem;
        font-weight: 500;
        
    }

    &:focus {
        outline: 0;
    }
} 