// main: ../style.less

.btn {
    padding: 1.08em 1.92em;

    font-size: 1.66rem;
    line-height: 1.5;
    font-weight: 600;
    font-family: inherit;

    color: @white-shade;
    background: @gradient;
    border: 0;
    border-radius: 1.8rem;
    cursor: pointer;

    &--thin {
        margin-bottom: .38em;
        padding: .66em 1.72em;

        border-radius: 1rem;
        background: fade(@white, 25%);

        font-size: 1.2rem;
        font-weight: 500;
        color: @white;
    }

    &--sm {
        padding: 1.25em 2.25em;

        font-size: 1.33rem;
        font-weight: 600;
        color: @white-shade;
    }

    &--sm--long {
        font-size: 1.33rem;
        padding: 1.25em 2.75em;

        @media @mobile-sm {
            font-size: 1.15rem;
        }

        @media @mobile-very-sm {
            font-size: 1rem;
        }
    }

    &--slider {
        padding: 1.73rem;
        
        border-radius: 50%;
        font-size: 0;

        position: absolute;
        left: 41%;
        top: 39%;
        z-index: 3;
    }

    &--sub {
        padding: 1.36em 3.48em;

        border-radius: 2.33rem;

        position: absolute;
        top: 12px;
        right: 18%;
        z-index: 1;
    }

    &:focus {
        outline: 0;
    }

    &:hover {
        opacity: .7;
    }
}
