// main: ../style.less

.header {
    padding: 2.93rem 0 13.3rem;
    background: url("../img/header/Rectangle_3.png") bottom no-repeat;
    background-size: cover;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 5.66rem;
}

.user {
    font-size: 1.33rem;
    font-weight: 700;
    color: @white;
}

.nav {
    font-size: 1rem;
    font-weight: 500;

    &.nav-right .nav__link {
        margin-right: 1.66rem;
    }

    &.nav-right .nav__link:last-child {
        margin-right: 0;
    }

    &.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &.show .nav__link {
            margin-right: 0;
        }
    }

   

}

.nav__link {
    text-decoration: none;
    color: @white;
    margin-right: 5.33rem;
    position: relative;

    &:nth-child(4) {
        margin-right: 0;
    }

    &::after {
        content: "";
        position: absolute;
        background-color: #C4C4C4;
        bottom: -4px;
        left: 0;

        height: 4px;
        width: 0;
        border-radius: 6.66rem;
        transition: width 0.2s linear;
    }

    &:hover::after {
        width: 35px;
    }

    &.nav__link--btn:hover:last-child::after {
        width: 0;
    }

    &.nav__link--btn {
        padding: .86rem 2.93rem;

        font-family: inherit;
        cursor: pointer;

        background: @gradient;
        border-radius: 6.66rem;
        border: 0;

        &:focus {
            outline: 0;
        }

        &:hover {
            opacity: .7;
        }
    }
}

.burger {
    display: none;
}

.header__intro {
    display: flex;
    justify-content: space-between;

}

.header__content {
    width: 100%;
    max-width: 603px;
}

.header__title {
    margin-bottom: 2rem;

    font-size: 3.66rem;
    font-weight: 600;
    color: @white;
}

.header__text {
    margin-bottom: 4.53rem;

    width: 100%;
    max-width: 519px;

    font-size: 1.66rem;
    font-weight: 500;
    color: fade(@white, 50%);
}

.header__container {
    width: 100%;
    max-width: 549px;
    position: relative;

    &--bg {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -10%;
        z-index: 1;

        width: 63px;
        height: 83px;

        fill: #ffffff;
        background: url("../img/header/Group 3.png") center no-repeat;
    }


    &::after {
        content: "";
        position: absolute;
        bottom: -5%;
        right: -15%;
        z-index: 1;

        width: 63px;
        height: 83px;

        fill: fade(@white, 10%);
        background: url("../img/header/Group 4.png") center no-repeat;
    }
}

.span {
    font-size: 0;
    color: transparent;

    &::before {
        content: "";
        position: absolute;
        bottom: -20%;
        left: -5%;
        z-index: 1;

        width: 170px;
        height: 50px;

        background: url("../img/header/Group 5.png") center no-repeat;
    }

    &::after {
        content: "";
        position: absolute;
        top: 12%;
        left: 70%;
        z-index: 1;

        width: 170px;
        height: 50px;

        background: url("../img/header/Group 5.png") center no-repeat;
    }
}

.header__photo {
    position: absolute;
    bottom: -31.5%;
    right: 0px;
}